{
  "presets": ["es2015", "stage-0", "react"],
  "plugins": [
    "transform-runtime",
    "transform-decorators-legacy",
    "transform-class-properties",
    "react-hot-loader/babel",
    [
      "add-module-exports",
      {
        "addDefaultProperty": true
      }
    ]
  ]
}
